	body {font-family: arial;}
	.main-sec {margin: 0 auto;max-width: 1100px;}
	.top-sect {display: inline-block;width: 100%;}
	tr.blue {background: #00a5b4;color: #fff;text-align: left;}
	.top-sect h1 {float: left;}
	.top-sect img.logo {float: right;margin-top: 20px;}
	.table_class {display: inline-block;width: 100%;}
	.table_class table {width: 100%;}
	.table_class table th,.table_class table td {padding: 10px;border: 1px solid #333;}
	.table_class table table th,.table_class table table td  {padding: 0px;border: 0px solid #333;}
	table.top-tbl-tb td {border-right: 1px solid #000 !important;text-align: center;padding: 10px !important;}
	td.top-tbl-tb-td {padding: 0 !important;}
	table.top-tbl-tb td:last-child {border: 0 !important;}
	.mar_top {margin-top: 30px;}
	tr.table_seco_tr td {padding: 0;border: 0;vertical-align: top;}
	.table_seco tr.blue th,.table_seco tr.blue td {padding: 10px !important;border: 1px solid #000;}
	table.table_seco_inn_table td {padding: 10px !important;border: 1px solid #000 !important;}
	tr.border_none td {border: 0 !important;}
	.table_class table.table_seco_inn_table {border: 1px solid #000;}
	tr.table_seco_inn_table_ftr td {border: 0 !important;border-top: 1px solid #000 !important;}
	tr.border_none {line-height: 20px;}
	.table_third td {padding: 0 !important;}
	table.table_third.mar_top.table td {border: 0;}
	table.table_third.mar_top.table td td{border: 1px solid #000;padding:10px;}
	table.table_third.mar_top.table table table td {border: 1px solid #000;padding: 10px !important;font-weight: bold;}
	td.padding_10 {padding: 10px !important;}
	input { border: none;width: 100%;outline: 0;}
	/*input#el, input#sl, input#cl {
    width: 100%;
    }*/td.td-submit {
    background: #00a5b4;}input#submit {
    background: none;
    color: white;
    width: 100%;
    font-size: 18px;
}.logo_row{border:none;}tr.fir_st_tr > td {border:0;}

.fir_st_tr h1 span {
    float:  left;
    display:  block;
    max-width: 160px;
}

.fir_st_tr h1 input {
    float:  left;
    display:  block;
    max-width: 200PX;
    height: 39px;
    margin-left: 7px;
    font-size: 34px;
    color:  #000;
    font-weight: 600;
}input#submit {
    cursor: pointer;
}td#reset a {
    color: white;
    text-decoration: none;
}td#reset{text-align:center;}table td.reset {
    border: none;
}